// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body{
  background-color: #ffffff;
}



#footnotify_targets_holder,
#footnotify_holder,
#footnotify_arrow{
  background-image: none;
}

#footnotify_arrow,
#footnotify_holder{
  background-color: transparent;
  border: none;
}

#footnotify_arrow{
  font-size: 12px !important;
  letter-spacing: -3px !important;
}

div.footnotes {
  border-top-style: solid;
  border-top-width: 1px;
}

// This contains a filthy hack to override a mysterious inline styling that was
// causing the panel to be transparent. Still no idea where it comes from.
//#footnotify_panel{
//  background-color: #FFFFFF !important;
//}
